<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "AdminTo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/landing.css") %>"/>
  </head>
  <body>

    <header>
      <nav class="navbar has-shadow is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="<%= Routes.static_path(@conn, "/images/logo_blue.png") %>" alt="#"/>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item is-size-4 is-uppercase has-text-weight-medium" href="#">sitename</a>
            </div>
            <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%= if @current_user do %>
                  <%= link "Back to app", to: Routes.page_path(@conn, :index), class: "button" %>
                <% else %>
                <%= link "Log in", to: Routes.user_session_path(@conn, :new), class: "button is-link is-outlined mr-5" %>
                <%= link "Sign in", to: Routes.user_registration_path(@conn, :new), class: "button is-link is-light" %>
                <% end %>
              </div>
            </div>
            </div>
        </div>
      </nav>
    </header>

    <%= @inner_content %>
  </body>
</html>
