<section>
    <h2>Headline</h2>
    <article>
        Lorem ispum Lorem ispumLorem ispum Lorem ispumLorem ispum Lorem ispumLorem ispum Lorem ispumLorem ispum Lorem ispumLorem ispum Lorem ispumLorem ispum Lorem ispum
    </article>
</section>
